* {
    font-family: "Tungsten";
    color: #fffbf5;
    /* padding: 0; */
}

body {
    background-color: #111111;
}

#agent-display {
    /* display: flex;
    flex-direction: row; */
    position: relative;
    object-fit: fill;
    height: 80vh; 
    /* padding-left: 0;    */
}


#agent-bg, #agent-portrait {
    position: absolute;
    /* height: 70vh; */
}


#agent-bg {
    z-index: -1;
    padding-left: -10vw;
    height: 170vh;
    top: -30%;
    opacity: 0.3;
    left: -13%;
}

#agent-portrait {
    z-index: 4;
    height: 130vh;
}

#container {
    display: flex;
    /* flex-direction: row; */
}

/* #agent-dashboard {
    position: absolute;
    left: 50%;
}    */


#icon {
    border: 3px solid floralwhite;
}